<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]=" ['/service/equipment-list'] ">Equipment_List<span
            class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div *ngFor="let category of categories">
              <a class="dropdown-item" (click)="changeCategory(category.id)">{{category.name}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]=" ['/service/add-equipment'] ">Add_Equipment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" (click)="logOut() ">Log_out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>


